* {
    box-sizing: border-box;
}

/* main page elements */
body {
    font-family: monospace;
    font-size: 25px;
}

#outer-panel {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 10px;
}

#list-panel {
    background-color: lightsteelblue;
    display: inline-block;
}

#show-panel {
    background-color: antiquewhite;
    display: inline-block;
    text-align: center;
    
}
/* feature details */
button {
    font-size: 1rem;
    background: navy;
    border: none;
    border-radius: 0.3125rem;
    color: white;
    padding: 0.3125rem 1.0625rem;
  }

input {
    padding: 0.5rem;
    border-radius: 0.3125rem;
    font-size: 0.6rem;
    border: 1px solid #bbbbbb;
}

.btn {
    padding: 20px;
    color: white;
}

#new-party {
    height: 40px;
    width: 100px;
}


